body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header {
    background-image: url('images/38585.jpg');
    height:956px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.header--menu {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.8);
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.header--menuMobile {
    width: auto;
    display: flex;
    height:50px;
    justify-content: space-around;
    margin-top: 5px;
}
.menuMobile--kanter {
    padding: 4px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFF;
    font-size: 17px;
    letter-spacing: 1px;
    border: 3px solid #FFF;
}
.menuMobile--home {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuMobile--home li {
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 15px;
}
.menuMobile--home nav a {
    color: #FFF;
    text-decoration:none;
}
.header--menuCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 350px;
    color: #FFF;
    margin-top: 100px;
}
.h1--style  {
    display: flex;
}
.header--menuCenter h1 {
    text-transform: uppercase;
    font-size: 60px;
    color:#FFF;
}
h1:nth-child(2) {
    color:#37a6e4;
    margin-left: 30px;
}
.header--menuCenter p {
    font-size: 19px;
    margin-bottom: 60px;
}
button {
    text-transform: uppercase;
    height: 40px;
    padding: 10px;
    color:#FFF;
    border: 2px solid #37a6e4;
    background-color: transparent;
    border-radius: 20px;
}
.header--menuSections {
    display: flex;
    height:300px;
    margin-top: 150px;
}
.header--menuSections .grey{
    background-color: rgba(0, 0, 0, 0.9)
}
.menu--Sections{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    color:#b8b9c6;
    background-color: rgba(36, 35, 34, 0.9)
}
.menu--Sections img{
    width:70px;
    margin: 5px;
}
.menu--Sections h2{
    font-size: 18px;
    text-transform: uppercase;
}
.menu--Sections p {
    font-size: 16px;
    text-align: center;
    margin: 11px;
}

section {
    width: 100%;
}
.default-light{
    height: 500px;
    flex: 1;
}
.about-top {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.h1--style {
    margin-top: 30px;
    margin-bottom: -35px;
    font-size: 23px;
    text-transform: uppercase;
    color:#383838;
}
.h1--style h1:nth-child(2) {
    color:#37a6e4;
    margin-left: 10px;
}
.h3--style {
    display: flex;
    text-transform: uppercase;
    color:#383838;
}
h3 {
    margin-left: 7px;
    font-size: 13px;
}
h3:nth-child(1){
    color:#37a6e4;
}
.about-top p {
    font-size: 16px;
    text-align: center;
    max-width: 700px;
    width: auto;
    color:#b8b9c6;
}
.about-bottom {
    display:flex;
    align-items: center;
    justify-content: center;
}
.about-section {
    display: flex;
    margin: 20px;
    width: 315px;
    background-color: aqua;
}
.about-img img{
    width: 50px;
    margin: 25px;   
}
.h4--style{
    display: flex;
}
h4 {
    margin-left: 5px;
    font-size: 16px;
    text-transform: uppercase;
}
h4:nth-child(2){
    color:#37a6e4;
}
.about-desc p {
    font-size: 16px;
    text-align:left;
    color:#b8b9c6;
    margin-top: -10px;
}
.default-dark {
    background-image: url('images/6Yzfspk.jpg');
    height:500px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.services {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.8);
    display:flex;
    flex:1;
    flex-direction: column;
}
.services-our {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FFF;
}
.h5--style {
    display: flex;
    text-transform: uppercase;
    color:#FFF;
    margin-top: 30px;
}
h5{
    margin-left: 7px;
    font-size: 20px;
}
h5:nth-child(2){
    color:#37a6e4;
}
.services-fact-line {
    width:50px;
    border-bottom:2px solid #37a6e4;
    margin-top: -15px;
}
.services-our p {
    font-size: 16px;
    text-align: center;
    width: 700px;
    color:#FFF;
}
.services-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height:300px;
    margin-top: 10px;
}
.services-section-box {
    height: 250px;
    width: 250px;
    background-color: #383838;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.services-section-box img{
    width:60px;
    margin-top: 20px;
}
.services-section-box h6{
    font-size: 18px;
    text-transform: uppercase;
    color:#FFF;
}
.services-section-box p {
    font-size: 16px;
    text-align: center;
    color: #b8b9c6;
    margin-top: -10px;
}
@media (min-width:640px)and (max-width:900px) {
    .about-img img {
        width: 30px;
        padding-top: 18px;
        margin:0px;
    }
    h4,
    .about-desc p {
        font-size: 13px;
    }
    .menuMobile--kanter {
        margin-left: 10px;
    }
    .menuMobile--home li {
        font-size: 13px;
        margin-left: 10px;
    }
    .menu--Sections img {
        width: 45px;
    }
    .menu--Sections h2 {
        font-size: 13px;
    }
    .menu--Sections p {
        font-size: 13px;
    }


    .services-our p {
        width:500px;
    }
    .services-section-box {
        margin: 5px;
        height: 200px;
    }
    .services-section-box img {
        width: 40px;
    }
    .services-section-box h6 {
        font-size: 13px;
    }
    .services-section-box p {
        font-size: 15px;
    }
}






/*
@media (min-width:450px) and (max-width:890px) {
    .menuMobile--home {
        flex-wrap: wrap;
    }
}

/*
.about-section {
    display: flex;
    margin: 20px;
    width: 315px;
    max-height: 252px;
    flex-wrap: wrap;
    background-color: aqua;
}